@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Comfortaa:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  background: #fafafa;
  position: relative;
}

/* Navbar styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav h1 {
  float: left;
  font-family: "Comfortaa";
  font-size: 22px;
}

#u-name {
  font-family: "Comfortaa";
  font-size: 22px;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  padding: 30px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

nav ul {
  display: flex;
  font-family: sans-serif;
  justify-content: space-around;
  width: 20%;
}

nav li {
  list-style: none;
  font-size: 16px;
}

nav a {
  text-decoration: none;
  color: black;
}

/* stories */
section {
  padding: 30px 18%;
  background-color: #fafafa;
  display: flex;
  margin-top: 60px;
}

.left-side {
  width: 65%;
}

.story {
  display: flex;
  padding: 16px;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
}

.story .stories {
  width: 17%;
}

.story .stories a img {
  border-radius: 50%;
  border: 2px solid #c62def;
  padding: 1px;
  object-fit: cover;
}

.story .stories p {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #262626;
}

/* posts */
.posts {
  margin: 25px 0;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
}

.posts .post-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.posts .post-title .post-left {
  display: flex;
  align-items: center;
}

.posts .post-title .post-left .image {
  margin-right: 15px;
}

.posts .post-title .post-left .image img {
  border-radius: 50%;
  object-fit: contain;
}

.posts .post-title .post-left .details .name {
  padding-bottom: 2px;
  font-weight: bold;
  font-family: "Comfortaa";
  font-size: 22px;
}

.posts .post-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.posts .post-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.posts .post-footer .like-share-comment i {
  font-size: 22px;
  margin-right: 10px;
}

.posts .post-footer .save {
  font-size: 22px;
}

.posts .post-footer-content {
  padding: 0 16px 16px 16px;
}

.posts .post-footer-content p {
  margin-bottom: 3px;
}

.posts .post-footer-content .likes {
  margin-bottom: 8px;
}

.posts .post-footer-content .name {
  font-weight: 600;
}

.posts .post-footer-content span {
  margin-left: 10px;
  font-weight: normal;
}

.posts .post-footer-content .posting-time {
  font-size: 10px;
  margin-top: 6px;
}

.posts .add-comment {
  padding: 16px;
  border-top: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts .add-comment .left-side {
  display: flex;
  align-items: center;
}

.posts .add-comment .left-side i {
  font-size: 22px;
  margin-right: 15px;
}

.posts .add-comment .left-side input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 14px;
}

/* rightside */
.right-side {
  width: 30%;
  margin-top: 15px;
  position: fixed;
  right: 30px;
  /*  */
  padding-right: 10%;
}

.right-side .profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side .profile-title .profile-left {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.right-side .profile-title .profile-left .image img {
  border-radius: 50%;
  margin-right: 15px;
}

.right-side .profile-title .profile-left .details .name {
  padding-bottom: 3px;
  font-family: "Comfortaa";
}

.suggestions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 20px;
}

.suggestions-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.suggestions-title .suggestions-left {
  display: flex;
  align-items: center;
}

.suggestions-title .suggestions-left .image img {
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.suggestions-title .suggestions-left .details .name {
  padding-bottom: 3px;
}

/* more responsive */
@media (max-width: 992px) {
  section .left-side {
    width: 100%;
  }

  section .right-side {
    display: none;
  }
}

@media (max-width: 768px) {
  section {
    padding: 30px 20px;
  }
}

@media (max-width: 576px) {
  .story .stories {
    width: 25%;
  }
}
